[submodule "sonarros"]
	path = sonarros
	url = git@github.com:groundmelon/sonarros.git
[submodule "laser_splitter"]
	path = laser_splitter
	url = git@github.com:groundmelon/laser_splitter.git
[submodule "terarangerone-ros"]
	path = terarangerone-ros
	url = git@github.com:groundmelon/terarangerone-ros.git
